---
import { App } from '../components/App';
---

<html lang='en' data-theme='light' class='h-full' style="font-size: 24px;">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>WallCaster</title>
  </head>
  <body class='h-full'>
    <App client:only="react"  />
  </body>
  <style>
    @media (max-width: 768px) {
      html {
        font-size: 10px !important;
      }
    }
  </style>
</html>
