---
import { SocketTest } from '../components/SocketTest';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Test for socket.io'>
  <main class="p-5">
    <h1 class="text-4xl py-4 font-bold">Test for socket.io</h1>
		<SocketTest client:load />
  </main>
</Layout>
